article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

::-moz-selection {
  background-color: #181a1b;
  color: white;
}

::selection {
  background-color: #181a1b;
  color: white;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #EBBD61;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  color: #efeffa;
  font-family: "neuzeit-grotesk", serif;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

figure img {
  display: block;
  pointer-events: none;
  width: 100%;
}

figure {
  clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

main {
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 48em) {
  .frame {
    border: 18px solid #181a1b;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.link--inline {
  color: #a9a9a9;
  display: inline-block;
  margin-top: 1.5em;
  transition: all 0.2s ease-in-out;
}

.link--inline:after {
  background-color: rgba(255, 255, 255, 0.2);
  bottom: -15%;
  content: '';
  display: block;
  height: 20%;
  position: absolute;
  transition: all .25s ease;
  width: 100%;
  z-index: -1;
}

.link--inline:hover {
  color: #3b3b3b;
}

.link--inline:hover:after {
  background: #efeffa;
  height: 130%;
}

.container {
  margin: 0 10px;
  max-width: 1400px;
}

.container::before, .container::after {
  content: '';
  display: table;
}

.container::after {
  clear: both;
}

@media screen and (min-width: 48em) {
  .container {
    margin: 0 auto;
    width: 88%;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.site-header {
  -ms-flex-align: center;
      align-items: center;
  animation: slide .75s forwards;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

@media screen and (min-width: 30em) {
  .site-header {
    margin-top: 4rem;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -3em);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.site-nav {
  top: 2.5rem;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .site-nav {
    margin-left: auto;
    top: 3px;
    width: auto;
  }
}

.site-nav__list {
  list-style: none;
}

.site-nav__item {
  display: inline-block;
  margin-left: 20px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 30em) {
  .site-nav__item {
    margin-left: 35px;
  }
}

.site-nav__link {
  color: #a9a9a9;
  display: inline-block;
  font-family: "letter-gothic-std", monospace;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .site-nav__link {
    font-size: 1vw;
  }
}

@media screen and (min-width: 48em) and (max-width: 1400px) {
  .site-nav__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 48em) and (min-width: 2000px) {
  .site-nav__link {
    font-size: 20px;
  }
}

.site-nav__link:before {
  content: '';
  display: block;
  height: 1px;
  left: -10%;
  position: absolute;
  top: 50%;
  transition: width 0s ease, background .4s ease;
  width: 0;
}

.site-nav__link:after {
  background: #a9a9a9;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: -10%;
  top: 50%;
  transition: width .4s ease;
  width: 0;
}

.site-nav__link:hover:before {
  background: #a9a9a9;
  transition: width .4s ease;
  width: 120%;
}

.site-nav__link:hover:after {
  background: transparent;
  transition: all 0s ease;
  width: 120%;
}

.primary {
  background: #202325;
}

@media screen and (min-width: 48em) {
  .primary {
    padding: 18px;
  }
}

.site-intro {
  animation: fade 1.5s .2s forwards;
  opacity: 0;
}

@media screen and (min-width: 48em) {
  .site-intro {
    padding: 0 40px;
  }
}

@media screen and (min-width: 56.25em) {
  .site-intro {
    padding: 0 60px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-intro__message {
  margin-top: 6rem;
}

@media screen and (min-width: 48em) {
  .site-intro__message {
    margin-bottom: 14vw;
    margin-top: 10vw;
  }
}

@media screen and (min-width: 48em) {
  .site-intro__message:before {
    background-image: url(../img/accent.png);
    background-size: 1.4rem 1.4rem;
    content: '';
    display: block;
    height: 76%;
    left: -7%;
    opacity: 0.25;
    position: absolute;
    bottom: -6vw;
    width: 107%;
  }
}

.site-intro__label {
  color: #a9a9a9;
  font-family: "letter-gothic-std", monospace;
  font-size: 1vw;
  font-weight: 700;
  letter-spacing: .012em;
  margin-bottom: 3.125rem;
  padding-left: 1%;
  display: none;
}

@media (max-width: 1400px) {
  .site-intro__label {
    font-size: 14px;
  }
}

@media (min-width: 2000px) {
  .site-intro__label {
    font-size: 20px;
  }
}

@media screen and (min-width: 48em) {
  .site-intro__label {
    display: block;
  }
}

.site-intro__title {
  font-size: 13vw;
  line-height: .8;
  margin: 0;
}

@media (max-width: 615.38462px) {
  .site-intro__title {
    font-size: 80px;
  }
}

@media (min-width: 1538.46154px) {
  .site-intro__title {
    font-size: 200px;
  }
}

.site-intro__title--primary {
  color: rgba(255, 255, 255, 0.2);
}

.site-intro__title--secondary {
  color: #EBBD61;
}

.site-intro__about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

@media screen and (min-width: 48em) {
  .site-intro__about {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.site-intro__contact {
  color: #a9a9a9;
  font-family: "letter-gothic-std", monospace;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 1280px) {
  .site-intro__contact {
    font-size: 16px;
  }
}

@media (min-width: 2400px) {
  .site-intro__contact {
    font-size: 30px;
  }
}

@media screen and (min-width: 48em) {
  .site-intro__contact {
    margin-top: 2.9457vw;
    width: 30%;
  }
}

.site-intro__bio {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .site-intro__bio {
    padding-right: 5%;
    width: 70%;
  }
}

.site-intro__bio p {
  font-size: 2.3435vw;
  font-weight: 600;
  line-height: 1.6;
}

@media (max-width: 1024.10924px) {
  .site-intro__bio p {
    font-size: 24px;
  }
}

@media (min-width: 2560.2731px) {
  .site-intro__bio p {
    font-size: 60px;
  }
}

.site-intro__bio--sub {
  color: #a9a9a9;
  opacity: 0.8;
}

.grain {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grain:after {
  animation: grain 8s steps(10) infinite;
  background: #202325 url(../img/noise.png);
  background-size: 200px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: .9;
  position: absolute;
  top: -110%;
  width: 300%;
  z-index: 0;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.projects-item.alpha {
  background: #1cafca url(../img/deltadental-alt.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin: 5rem 0 3rem;
}

@media screen and (min-width: 48em) {
  .projects-item.alpha {
    height: 550px;
    margin: 9rem 0 6rem;
  }
}

@media screen and (min-width: 100em) {
  .projects-item.alpha {
    margin: 12rem 0 6rem;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.alpha .projects-wrap {
    bottom: 3rem;
    left: 3rem;
    position: absolute;
    right: 3rem;
    z-index: 3;
  }
}

.projects-item.alpha .projects-text {
  color: #efeffa;
  padding: 7rem 3rem 6rem;
}

@media screen and (min-width: 48em) {
  .projects-item.alpha .projects-text {
    padding: 0;
  }
}

.projects-item.beta {
  background: #6BC2B5 url(../img/underarmour.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}

@media screen and (min-width: 48em) {
  .projects-item.beta {
    background: none;
    margin: auto;
    max-width: 62rem;
    padding: 0 3rem;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.beta .projects-wrap {
    width: 50%;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.beta .projects-img {
    background: #6BC2B5 url(../img/underarmour.jpg) no-repeat;
    background-size: cover;
    height: 330px;
  }
}

.projects-item.beta .projects-text {
  color: #efeffa;
  padding: 7rem 3rem 6rem;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 48em) {
  .projects-item.beta .projects-text {
    left: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.projects-item.gamma {
  background: #FC5858 url(../img/countr.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}

.projects-item.gamma::before, .projects-item.gamma::after {
  content: '';
  display: table;
}

.projects-item.gamma::after {
  clear: both;
}

@media screen and (min-width: 48em) {
  .projects-item.gamma {
    background: none;
    margin: auto;
    margin-top: -5%;
    max-width: 62rem;
    padding: 0 3rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.gamma .projects-wrap {
    float: right;
    width: 40%;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.gamma .projects-img {
    background: #FC5858 url(../img/countr.jpg) no-repeat;
    background-size: cover;
    height: 450px;
  }
}

.projects-item.gamma .projects-text {
  color: #efeffa;
  padding: 7rem 3rem 6rem;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 48em) {
  .projects-item.gamma .projects-text {
    bottom: 0;
    color: #efeffa;
    padding: 0 2rem;
    position: absolute;
    right: 100%;
    text-align: right;
    width: 150%;
  }
}

.projects-item.delta {
  background: #F4F8FB url(../img/hdms.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 3rem;
}

.projects-item.delta::before, .projects-item.delta::after {
  content: '';
  display: table;
}

.projects-item.delta::after {
  clear: both;
}

@media screen and (min-width: 48em) {
  .projects-item.delta {
    height: 550px;
    margin: 0 0 6rem;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.delta .projects-wrap {
    bottom: 3rem;
    left: 3rem;
    position: absolute;
    right: 3rem;
    z-index: 3;
  }
}

.projects-item.delta .projects-text {
  color: #3b3b3b;
  padding: 7rem 3rem 6rem;
}

@media screen and (min-width: 48em) {
  .projects-item.delta .projects-text {
    padding: 0;
  }
}

.projects-item.epsilon {
  background: #2A3142 url(../img/aetna.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 48em) {
  .projects-item.epsilon {
    background: none;
    margin: auto auto 6rem;
    max-width: 62rem;
    padding: 0 3rem;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.epsilon .projects-wrap {
    float: right;
    width: 40%;
  }
}

@media screen and (min-width: 48em) {
  .projects-item.epsilon .projects-img {
    background: #2A3142 url(../img/aetna.jpg) no-repeat;
    background-size: cover;
    height: 450px;
  }
}

.projects-item.epsilon .projects-text {
  color: #efeffa;
  padding: 7rem 3rem 6rem;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 48em) {
  .projects-item.epsilon .projects-text {
    padding: 0 2rem;
    position: absolute;
    right: 100%;
    text-align: right;
    top: 0;
    width: 120%;
  }
}

.projects-wrap {
  perspective: 1000px;
}

.projects-wrap:after {
  background-image: url(../img/noise.png);
  background-size: 50%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 48em) {
  .projects-wrap:after {
    background: none;
  }
}

.projects-title {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 3.5vw;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (max-width: 1428.57143px) {
  .projects-title {
    font-size: 50px;
  }
}

@media (min-width: 3428.57143px) {
  .projects-title {
    font-size: 120px;
  }
}

.projects-type {
  font-family: "letter-gothic-std", monospace;
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 10px;
}

@media (max-width: 1600px) {
  .projects-type {
    font-size: 16px;
  }
}

@media (min-width: 3000px) {
  .projects-type {
    font-size: 30px;
  }
}

.projects-text {
  z-index: 5;
}

.site-footer {
  background-color: rgba(24, 26, 27, 0.5);
  margin-top: 100px;
  padding: 2rem 0 4rem;
}

@media screen and (min-width: 700px) {
  .site-footer {
    margin-top: 10rem;
    padding: 3.75rem 0 5rem;
  }
}

.site-footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-footer__follow {
  margin-top: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .site-footer__follow {
    margin-left: auto;
    margin-top: 0;
    width: auto;
  }
}

.site-footer__header {
  color: #a9a9a9;
  font-family: "letter-gothic-std", monospace;
  font-size: 0.897vw;
  font-weight: 700;
  letter-spacing: .012em;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}

@media (max-width: 1560.75808px) {
  .site-footer__header {
    font-size: 14px;
  }
}

@media (min-width: 3344.48161px) {
  .site-footer__header {
    font-size: 30px;
  }
}

.site-footer__link {
  color: #efeffa;
  display: inline-block;
  font-family: "letter-gothic-std", monospace;
  font-size: 1vw;
  font-weight: 700;
  line-height: 1;
  margin-right: 25px;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .site-footer__link {
    font-size: 14px;
  }
}

@media (min-width: 3000px) {
  .site-footer__link {
    font-size: 30px;
  }
}

.site-footer__link:last-child {
  margin-right: none;
}

.site-footer__link:before {
  content: '';
  display: block;
  height: 1px;
  left: -10%;
  position: absolute;
  top: 50%;
  transition: width 0s ease, background .4s ease;
  width: 0;
}

.site-footer__link:after {
  background: #a9a9a9;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: -10%;
  top: 50%;
  transition: width .4s ease;
  width: 0;
}

.site-footer__link:hover:before {
  background: #a9a9a9;
  transition: width .4s ease;
  width: 120%;
}

.site-footer__link:hover:after {
  background: transparent;
  transition: all 0s ease;
  width: 120%;
}
