$color-primary = #ec8c6e
$color-shade = #384343
$color-tint = #5f6e6e
$color-pane = #072428
$color-highlight = #f0f2f3

$screen-xlarge = 90.063em
$screen-large = 64.063em
$screen-medium = 48.000em
$screen = only screen
