extends layout

block content
  .content-inner
    .content
      .word-wrap
        h1 Jeff Lupinski
      .word-wrap
        h2 Digital Product Designer and Front-End Developer living in Providence, Rhode Island.
      nav
        ul.social-list
          li.social-item.word-wrap
            a(href='mailto:iam@jefflupinski.com') email
          li.social-item.word-wrap
            a(href='http://dribbble.com/jefflupinski') dribbble
          li.social-item.word-wrap
            a(href='https://github.com/lupinskij') github
          li.social-item.word-wrap
            a(href='https://www.linkedin.com/in/jefflupinski') linkedin
    .pane.alpha
    .pane.beta
    .pane.gamma
    .pane.delta
