extends layout

block content
  .content-inner
    .content
      img.logo(src='images/jefflupinski-logo.svg', alt='Jeff Lupinski', itemprop='logo')
      .word-wrap
        h1 Jeff Lupinski
      .word-wrap
        h2 Digital Product Designer &amp; Front-End Developer living in Boulder, Colorado.
      nav
        ul.social-list
          li.social-item.word-wrap
            a(href='mailto:iam@jefflupinski.com?subject=Howdy!') Email
          li.social-item.word-wrap
            a(href='http://dribbble.com/jefflupinski') Dribbble
          li.social-item.word-wrap
            a(href='https://github.com/lupinskij') Github
          li.social-item.word-wrap
            a(href='https://www.linkedin.com/in/jefflupinski') Linkedin
    .pane.alpha
    .pane.beta
    .pane.gamma
    .pane.delta
