doctype html
html.no-js(lang='en', itemscope='', itemtype='http://schema.org/WebPage')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='User Interface Designer and Front End Developer living in Providence, Rhode Island')
    meta(name='author', content= "Jeff Lupinski")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Jeff Lupinski - Digital Product Designer
    link(rel='stylesheet', href='css/main.css?v=#{Date.now()}')
    script(src='https://use.typekit.net/hlu4mff.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    main
      block content
