// Color Palette

// descriptive colors
// =============
$orange:                    #F5CE62;
$dark:                      #3b3b3b;
$light:                     #999;
$white:                     #efeffa;
$black:                     #181a1b;

// Selections
$color-selection:           $dark;
