// Color Palette

// descriptive colors
// =============
$orange:                    #EBBD61;
$dark:                      #3b3b3b;
$light:                     #a9a9a9;
$white:                     #efeffa;
$black:                     #181a1b;
$trans:               hsla(0,0%,100%,.2);

// Selections
$color-selection:           $dark;
