@viewport { width: device-width; }

*,
*::before,
*::after {
  box-sizing: inherit;
  position: relative;
}

::selection {
  background-color: $black;
  color: white;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: $orange;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  color: $white;
  font-family: $font-family-default;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;

  figure & {
    display: block;
    pointer-events: none;
    width: 100%;
  }
}

figure {
  clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
  text-transform: uppercase;
}

main {
  height: 100%;
  overflow: hidden;
}

.frame {

  @include mq(48em) {
    border: 18px solid $black;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.link--inline {
  color: $light;
  display: inline-block;
  margin-top: 1.5em;
  transition: all 0.2s ease-in-out;

  &:after {
    background-color: $trans;
    bottom: -15%;
    content: '';
    display: block;
    height: 20%;
    position: absolute;
    transition: all .25s ease;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    color: $dark;

    &:after {
      background: $white;
      height: 130%;
    }
  }
}
