@keyframes animatePane
  0%
    transform: scale(1, 0)
  100%
    transform: scale(1, 1)

@keyframes animateLogo
  0%
    opacity: 0
    transform: rotate(15deg)
  100%
    opacity: .75
    transform: rotate(0)

@keyframes animateTitle
  0%
    opacity: 0
    transform: translate3d(0, -2em, 0)
  100%
    opacity: 1
    transform: translate3d(0, 0, 0)
    transform: matrix(1, 0, 0, 1, 0, 0)

@keyframes animateCopy
  0%
    opacity: 0
    transform: translate3d(0, -6em, 0)
  100%
    opacity: 1
    transform: translate3d(0, 0, 0)
    transform: matrix(1, 0, 0, 1, 0, 0)

@keyframes animateLink
  0%
    opacity: 0
    transform: translate3d(0, -2em, 0)
  100%
    opacity: 1
    transform: translate3d(0, 0, 0)
    transform: matrix(1, 0, 0, 1, 0, 0)
