*,
*:before,
*:after
  box-sizing: inherit

html,
body,
main
  height: 100%
  width: 100%

html
  box-sizing: border-box
  font-size: 62.5%

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $color-shade
  font-family: 'effra', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, "Lucida Grande", sans-serif
  font-smoothing: always
  text-rendering: optimizeLegibility

.content-wrap
  height: 100%
  padding: 15px
  position: relative
  width: 100%
  z-index: 1
  @media (min-width: $screen-medium)
    padding: 25px

.content,
.content-inner
  position: relative
  width: 100%

.content-inner
  height: 100%
  padding: 25px

.content
  position: relative
  top: 48%
  transform: translateY(-50%)
  @media (min-width: $screen-medium)
    padding: 0 100px

.pane
  animation-name: animatePane
  animation-duration: 1.1s
  animation-fill-mode: forwards
  background: $color-pane
  height: 100%
  position: absolute
  top: 0
  transform-origin: 50% 0 0
  transform: scale(1, 0)
  width: 25%
  z-index: -1
  &.alpha
    animation-delay: .2s
    left: 0
  &.beta
    left: 25%
  &.gamma
    animation-delay: .12s
    left: 50%
  &.delta
    animation-delay: .23s
    left: 75%

.logo
  animation-delay: 2.3s
  animation-duration: 1s
  animation-fill-mode: forwards
  animation-name: animateLogo
  animation-timing-function: ease
  height: auto
  max-width: 80%
  opacity: 0
  position: absolute
  top: -10em
  @media (min-width: $screen-medium)
    left: 2em
    max-width: 100%

h1
  animation-delay: 1s
  animation-duration: .3s
  animation-fill-mode: forwards
  animation-name: animateTitle
  animation-timing-function: ease
  color: $color-primary
  font-size: 1.8rem
  font-weight: 700
  letter-spacing: 0.1em
  opacity: 0
  text-transform: uppercase
  transform: translate3d(0, -1.75em, 0)
  @media (min-width: $screen-large)
    font-size: 2.0rem

h2
  animation-delay: 1.35s
  animation-duration: .6s
  animation-fill-mode: forwards
  animation-name: animateTitle
  animation-timing-function: ease
  color: $color-highlight
  font-family: 'lust', serif
  font-size: 2.6rem
  font-weight: normal
  margin-top: 0.25em
  max-width: 500px
  opacity: 0
  transform: translate3d(0, -6em, 0)
  @media (min-width: $screen-medium)
    font-size: 3.0rem
    max-width: 500px
  @media (min-width: $screen-large)
    font-size: 4.0rem
    max-width: 650px

.social-list
  list-style: none
  margin: 30px 0 0
  padding: 0
  @media (min-width: $screen-large)
    margin: 1em 0 0

.social-item
  margin: 0 0 10px 0
  padding-bottom: 3px
  @media (min-width: $screen-medium)
    display: inline-block
    margin: 0 20px 0 0
    &:last-child
      margin: 0
  &:nth-child(1) a
    animation-delay: 1.50s
  &:nth-child(2) a
    animation-delay: 1.65s
  &:nth-child(3) a
    animation-delay: 1.80s
  &:nth-child(4) a
    animation-delay: 1.95s
  a
    animation-duration: .5s
    animation-fill-mode: forwards
    animation-name: animateLink
    animation-timing-function: ease-in
    color: $color-tint
    display: inline-block
    font-size: 1.6rem
    font-weight: 700
    letter-spacing: 0.1em
    opacity: 0
    position: relative
    text-decoration: none
    text-transform: uppercase
    transform: translate3d(0, -1.75em, 0)
    transition: color 0.35s
    &:after
      background: $color-primary
      content: ''
      height: 1px
      left: 0
      opacity: 0
      position: absolute
      top: 100%
      transform: translateY(-5px)
      transition: height 0.3s, opacity 0.3s, transform 0.3s
      width: 100%
    &:hover
      color: lighten($color-tint, 40%)
      &:after
        height: 2px
        opacity: 1
        transform: translateY(0px)

.word-wrap
  overflow: hidden
