.site-footer {
  background-color: rgba($black, .5);
  margin-top: 100px;
  padding: 2rem 0 4rem;

  @include mq(700px) {
    margin-top: 10rem;
    padding: rem(60) 0 rem(80);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__follow {
    margin-top: 1.5rem;
    width: 100%;

    @include mq(700px) {
      margin-left: auto;
      margin-top: 0;
      width: auto;
    }
  }
}

.site-footer__header {
  color: $light;
  font-family: $font-family-serif;
  @include fluid-type(.897vw, 14px, 30px);
  font-weight: 700;
  letter-spacing: .012em;
  margin-bottom: rem(25);
  text-transform: uppercase;
}

.site-footer__link {
  color: $white;
  display: inline-block;
  font-family: $font-family-serif;
  @include fluid-type(1vw, 14px, 30px);
  font-weight: 700;
  line-height: 1;
  margin-right: 25px;
  text-decoration: none;

  &:last-child {
    margin-right: none;
  }

  &:before {
    content: '';
    display: block;
    height: 1px;
    left: -10%;
    position: absolute;
    top: 50%;
    transition: width 0s ease, background .4s ease;
    width: 0;
  }

  &:after {
    background: $light;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: -10%;
    top: 50%;
    transition: width .4s ease;
    width: 0;
  }

  &:hover:before {
    background: $light;
    transition: width .4s ease;
    width: 120%;
  }

  &:hover:after {
    background: transparent;
    transition: all 0s ease;
    width: 120%;
  }
}
