.site-header {
  align-items: center;
  animation: slide .75s forwards;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  margin-top: 1rem;

  @include mq(30em) {
    margin-bottom: 14vw;
    margin-top: 2.5rem;
  }

  @include mq(100em) {
    margin-bottom: 14rem;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -3em)
  }
  100%{
    opacity: 1;
    transform: translate(0, 0)
  }
}

.site-nav {
  top: 3rem;
  width: 100%;

  @include mq(30em) {
    margin-left: auto;
    top: 5px;
    width: auto;
  }
}

.site-nav__list {
  list-style: none;
}

.site-nav__item {
  display: inline-block;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  @include mq(30em) {
    margin-left: 35px;
  }
}

.site-nav__link {
  color: $light;
  display: inline-block;
  font-family: $font-family-display;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    content: '';
    display: block;
    height: 2px;
    left: -10%;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    transition: width 0s ease, background .4s ease;
    width: 0;
  }

  &:after {
    background: $light;
    content: '';
    display: block;
    height: 2px;
    margin-top: -2px;
    position: absolute;
    right: -10%;
    top: 50%;
    transition: width .4s ease;
    width: 0;
  }

  &:hover:before {
    background: $light;
    transition: width .4s ease;
    width: 120%;
  }

  &:hover:after {
    background: transparent;
    transition: all 0s ease;
    width: 120%;
  }
}
