.primary {
  overflow-y: hidden;
  padding: 2rem;

  @include mq(30em) {
    padding: 2rem;
  }
}

.site-intro {
  animation: fade 2s .3s forwards;
  opacity: 0;

  @include mq(30em) {
    padding: 0 20px;
  }

  @include mq(48em) {
    padding: 0 40px;
  }

  @include mq(56.25em) {
    padding: 0 60px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.site-intro__title {
  @include fluid-type(12vw, 70px, 200px)
  line-height: .8;
  margin: 0;

  &--primary {
    color: $orange;
  }

  &--secondary {
    color: $light;
    margin-bottom: 1rem;
    margin-top: 2rem;

    @include mq(30em) {
      margin-bottom: 6vw;
      margin-top: 5vw;
    }

    @include mq(100em) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }
}

.site-intro__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.site-intro__contact {
  color: $light;
  font-family: $font-family-serif;
  font-size: rem(16);
  margin-bottom: 2rem;
  top: 9px;
  width: 100%;

  @include mq(48em) {
    margin-bottom: 0;
    padding-right: 1em;
    width: 35%;
  }

  a {
    color: $light;
    display: inline-block;
    margin-top: 1em;
    transition: all 0.2s ease-in-out;

    &:after {
      background-color: rgba($white, .5);
      bottom: -15%;
      content: '';
      display: block;
      height: 20%;
      position: absolute;
      transition: all .25s ease;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      color: $dark;

      &:after {
        background: $white;
        height: 130%;
      }
    }
  }
}

.site-intro__bio {
  width: 100%;

  @include mq(48em) {
    max-width: 68ch;
    padding-left: 2em;
    width: 55%;
  }
}

.grain {
  display: block;
  overflow: hidden;
}

.grain:after {
  animation: grain 8s steps(10) infinite;
  background: #202325 url(../img/noise.png);
  background-size: 200px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: .9;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -1;
}

@keyframes grain{
  0%, 100%{
    transform:translate(0, 0)
  }
  10%{
    transform:translate(-5%, -10%)
  }
  20%{
    transform:translate(-15%, 5%)
  }
  30%{
    transform:translate(7%, -25%)
  }
  40%{
    transform:translate(-5%, 25%)
  }
  50%{
    transform:translate(-15%, 10%)
  }
  60%{
    transform:translate(15%, 0%)
  }
  70%{
    transform:translate(0%, 15%)
  }
  80%{
    transform:translate(3%, 35%)
  }
  90%{
    transform:translate(-10%, 10%)
  }
}
