.primary {
  background: #202325;

  @include mq(48em) {
    padding: 18px;
  }
}

.site-intro {
  animation: fade 1.5s .2s forwards;
  opacity: 0;

  @include mq(48em) {
    padding: 0 40px;
  }

  @include mq(56.25em) {
    padding: 0 60px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.site-intro__message {
  margin-top: 6rem;

  @include mq(48em) {
    margin-bottom: 14vw;
    margin-top: 10vw;
  }

  &:before {
    @include mq(48em) {
      background-image: url(../img/accent.png);
      background-size: 1.4rem 1.4rem;
      content: '';
      display: block;
      height: 76%;
      left: -7%;
      opacity: 0.25;
      position: absolute;
      bottom: -6vw;
      width: 107%;
    }
  }
}

.site-intro__label {
  color: $light;
  font-family: $font-family-serif;
  @include fluid-type(1vw, 14px, 20px);
  font-weight: 700;
  letter-spacing: .012em;
  margin-bottom: rem(50);
  padding-left: 1%;
  display: none;

  @include mq(48em) {
    display: block;
  }
}

.site-intro__title {
  @include fluid-type(13vw, 80px, 200px)
  line-height: .8;
  margin: 0;

  &--primary {
    color: $trans;
  }

  &--secondary {
    color: $orange;
  }
}

.site-intro__about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  @include mq(48em) {
    flex-direction: row;
  }
}

.site-intro__contact {
  color: $light;
  font-family: $font-family-serif;
  @include fluid-type(1.25vw, 16px, 30px);
  font-weight: 700;
  line-height: 1.5;
  margin-top: 2rem;
  width: 100%;

  @include mq(48em) {
    margin-top: 2.9457vw;
    width: 30%;
  }
}

.site-intro__bio {
  width: 100%;

  @include mq(48em) {
    padding-right: 5%;
    width: 70%;
  }

  p {
    @include fluid-type(2.3435vw, 24px, 60px);
    font-weight: 600;
    line-height: 1.6;
  }

  &--sub {
    color: $light;
    opacity: 0.8;
  }
}

.grain {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grain:after {
  animation: grain 8s steps(10) infinite;
  background: #202325 url(../img/noise.png);
  background-size: 200px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: .9;
  position: absolute;
  top: -110%;
  width: 300%;
  z-index: 0;
}

@keyframes grain{
  0%, 100%{
    transform:translate(0, 0)
  }
  10%{
    transform:translate(-5%, -10%)
  }
  20%{
    transform:translate(-15%, 5%)
  }
  30%{
    transform:translate(7%, -25%)
  }
  40%{
    transform:translate(-5%, 25%)
  }
  50%{
    transform:translate(-15%, 10%)
  }
  60%{
    transform:translate(15%, 0%)
  }
  70%{
    transform:translate(0%, 15%)
  }
  80%{
    transform:translate(3%, 35%)
  }
  90%{
    transform:translate(-10%, 10%)
  }
}
